/* 側邊表單 */
.side-menu {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.side-menu form {
    display: flex;
    margin: 50px 10px 0px;
    border-radius: 100px;
    border: 1px solid black;
}

.side-menu form button,
.side-menu form input {
    border: none;
    padding: 5px 10px;
    width: 230px;
    background-color: transparent;
}

.side-menu form button:focus,
.side-menu form input:focus {
    outline: none;
}

.side-menu form input {
    width: 150px;
}

.side-menu form button {
    width: 50px;
}

.side-menu>nav>a {
    display: block;
    padding: 10px;
    text-decoration: none;
    position: relative;
}

.side-menu>nav>a+a::before {
    content: '';
    position: absolute;
    border-top: 1px solid #e0dede;
    left: 10px;
    right: 10px;
    top: 0;
}

.side-menu>nav>a .fa-solid {
    margin-right: -1.1em;
    transform: scale(0);
    transition: .3s;
}

.side-menu>nav>a:hover .fa-solid {
    margin-right: 0em;
    transform: scale(1);
}

.menu-text,
.fa-solid {
    color: black;
}

.side-menu>nav>a:hover .menu-text,
.fa-solid {
    color: #53b8f3;
}

/* 側邊表單 */

/* ============ only desktop view ============ */
@media all and (min-width: 992px) {
    .navbar .dropdown-menu-end {
        right: 0;
        left: auto;
    }

    .navbar .nav-item .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        margin-top: 0;
    }

    .navbar .nav-item:hover .nav-link {
        color: #fff;
    }

    .navbar .dropdown-menu.fade-down {
        top: 80%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .dropdown-menu.fade-up {
        top: 180%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transition: .3s;
        opacity: 1;
        visibility: visible;
        top: 100%;
        transform: rotateX(0deg);
    }

    .header_background {
        justify-content: center;
    }

    .navbar-position {
        justify-content: center;
    }

    /* 刪除箭頭 */
    .dropdown-toggle::after {
        display: none;
    }


}

@media screen and (max-width:992px) {

    .footer-icon {
        justify-content: flex-start;
        padding-left: 30px;
    }
}
